
<!DOCTYPE html>
<html>
<head>
    <title>LIT</title>
    <!--Graph script source-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="components/socket.io-client/dist/socket.io.min.js"></script>
    <script type="text/javascript" src="/javascripts/canvasjs.min.js"></script>
    <script src="/javascripts/script.js"></script>

    <!--layout script source-->





</head>
<body>
   
    <!--Grapg div-->
    <!--list div/locations-->
    <div class="header">
        <h1>Club Popularity</h1>
        <small>
            Percentage of the combined totals:
        </small>
        <small><i><span id="last-update">Never</span></i></small>
    </div>
    <div id="chartContainer"></div>

   

</body>
</html>