<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <!-- Your Basic Site Informations -->
    <title>LIT App Landing Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LIT completely changes the way you navigate Old Town Scottsdale.">
    <meta name="keywords" content="Landing Page, One Page Template, Simple Design, Clean Design, Responsive Template, Smooth Animation, App Showcase, PSD, HTML5, CSS3, jQuery">
    <meta name="author" content="Eric Stahl">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/green/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->
    <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    <noscript><link rel="stylesheet" href="css/no-js.css"></noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/logo.png">

</head>
<body>

    <!-- #header -->
    <header id="header">

        <!-- #navigation -->
        <nav id="navigation" class="navbar scrollspy">

            <!-- .container -->
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse-1">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#header" class="smooth-scroll">Home</a></li>
                    <li><a href="#features2" class="smooth-scroll">Features</a></li>
                    <li><a href="#download" class="smooth-scroll">Download</a></li>
                    <li><a href="https://docs.google.com/document/d/12_mZgAMeFu6Hx7IAaPuTXWorX1PH0GH9m3TwowSi87w/edit?pli=1">Plan</a></li>
                    <li><a href="https://artsmediaengineering.asu.edu/">AME 485</a></li>
                    <li><a href="login.html">App Progress</a></li>
                </ul>
            </div>


            <!-- .container end -->

        </nav>
        <!-- #navigation end -->
        <!-- .header-content -->
        <div class="header-content" style="background-image:url(images/content/bg/1.jpg);">

            <!-- .header-overlay -->
            <div class="header-overlay">

                <!-- .container -->
                <div class="container">

                    <div class="header-txt">
                        <h1>LIT</h1>
                        <p>Directing you to the best night out, everytime.</p>
                    </div>

                    <div class="header-btn">
                        <a href="#" class="btn-custom btn-white btn-border btn-rounded btn-icon" title="Download on Play Store"><i class="ion ion-social-android"></i>Play Store</a>
                        <a href="#" class="btn-custom btn-white btn-border btn-rounded btn-icon" title="Download on App Store"><i class="ion ion-social-apple"></i>App Store</a>
                    </div>

                    <div class="header-img">
                        <figure class="img-layers">
                            <div class="img-layer-left animation" data-animation="animation-fade-in-left" data-delay="200">
                                <img src="images/content/landing/header-1.png" alt="Image Left">
                            </div>
                            <div class="img-layer-center animation" data-animation="animation-fade-in-up" data-delay="800">
                                <img src="images/content/landing/header-2.png" alt="Image Center">
                            </div>
                            <div class="img-layer-right animation" data-animation="animation-fade-in-right" data-delay="200">
                                <img src="images/content/landing/header-3.png" alt="Image Right">
                            </div>
                        </figure>
                    </div>

                </div>
                <!-- .container end -->

            </div>
            <!-- .header-overlay end -->

        </div>
        <!-- .header-content end -->

    </header>
    <!-- #header end -->
    <!-- #features2 -->
    <div id="features2" class="bg-grey container-padding100">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-6 col-lg-5 col-sm-offset-0 col-md-offset-1 margin-bottom40-xs">
                    <div class="padding-top140 padding-top80-sm padding-top0-xs text-center-xs">
                        <div class="post-heading-left">
                            <p>Scottsdale</p>
                            <h2>It's LIT!</h2>
                            <h5>Your guide to the hottest nightlife in town condensed into an intuitive mobile app that leads you to the best party, every time.</h5>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- 1 -->
                                <div class="affa-feature-icon2">
                                    <i class="ion ion-android-phone-portrait"></i>
                                    <p><strong>Your Guide.</strong> Let us show you around town!</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- 2 -->
                                <div class="affa-feature-icon2">
                                    <i class="ion ion-android-lock"></i>
                                    <p><strong>Facebook Login.</strong> How much easier can it get?</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- 3 -->
                                <div class="affa-feature-icon2">
                                    <i class="ion ion-android-happy"></i>
                                    <p><strong>Social.</strong> Tell your friends where to meet you.</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- 4 -->
                                <div class="affa-feature-icon2">
                                    <i class="ion ion-android-archive"></i>
                                    <p><strong>Fun.</strong> Filled with the best clubs, bars, and events.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 col-md-offset-0 col-lg-offset-1 img-padding-xs">
                    <figure class="img-layers2 img-layer-left-front">
                        <div class="img-layer-left animation" data-animation="animation-slide-in-right">
                            <img src="images/content/landing/feature-1-left.png" alt="Image Left">
                        </div>
                        <div class="img-layer-right animation" data-animation="animation-fade-in-left" data-delay="1000">
                            <img src="images/content/landing/feature-1-right.png" alt="Image Right">
                        </div>
                    </figure>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #features2 end -->
    <!-- #download -->
    <div id="download" class="bg-img" style="background-image:url(images/content/bg/3.jpg);">

        <!-- .bg-overlay -->
        <div class="bg-overlay container-padding140120">

            <!-- .container -->
            <div class="container text-center">

                <div class="post-heading-center">
                    <h2>Custom results. Built for you.</h2>
                </div>

                <p class="text-lg text-padding margin-bottom50">By tracking social media posts, Lit’s formula generates a rating for each bar that is determined by the user’s preferences.</p>

                <div class="post-btn">
                    <a href="#" class="btn-custom btn-white btn-border btn-rounded btn-icon" title="Download on Play Store"><i class="ion ion-social-android"></i>Play Store</a>
                    <a href="#" class="btn-custom btn-white btn-border btn-rounded btn-icon" title="Download on App Store"><i class="ion ion-social-apple"></i>App Store</a>
                </div>

            </div>
            <!-- .container end -->

        </div>
        <!-- .bg-overlay -->

    </div>
    <!-- #download end -->
    <!-- #subscribe -->
    <div id="subscribe" class="container-padding140">

        <!-- .container -->
        <div class="container">

            <!-- .affa-form-wrap -->
            <div class="affa-form-wrap">

                <div class="pull-left">
                    <div class="pull-left post-heading-left padding-top10-lg padding-top10-md">
                        <h2>Stay updated on the release</h2>
                        <h5>Be the first to know when we start!</h5>
                    </div>
                </div>

                <div class="pull-right">
                    <form method="post" action="#" class="pull-right affa-form-subscribe">
                        <input type="text" name="email" placeholder="Email address">
                        <input type="submit" name="submit" value="Subscribe Now">
                    </form>
                </div>

            </div>
            <!-- .affa-form-wrap end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #subscribe end -->
    <!-- #footer -->
    <footer id="footer">

        <!-- .container -->
        <div class="container">

            <div class="footer-links">
                <a href="#" class="link-icon" title="Facebook"><i class="ion ion-social-facebook"></i></a>
                <a href="#" class="link-icon" title="Twitter"><i class="ion ion-social-twitter"></i></a>
                <a href="#" class="scrollup">Back to Top<i class="ion ion-ios-arrow-up"></i></a>
            </div>

            <div class="footer-copyright">
                <p>&copy; 2016 by <a href="http://lit.fyi" target="_blank">Eric Stahl</a>. All Rights Reserved.</p>
            </div>

        </div>
        <!-- .container end -->

    </footer>
    <!-- #footer end -->
    <!--[if lt IE 8]>
        <div class="browser-notice">
            <div class="container">
                <div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
                </div>
            </div>
        </div>
    <![endif]-->
    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/response.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>
